<div class="login_container">
    <div class="login_box">
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="input"> 
            <div class="username">
                <p>Username or Email</p>
                <input type="text" placeholder="orange@fruitmail.com">
            </div>
            <div class="password">
                <p>Password</p>
                <input type="text" placeholder="Orange123">
            </div>
        </div>
        <div class="buttons">
            <button>Login</button>
            <button><a [routerLink]="['/sign']">Signin</a></button>
        </div>
    </div>
</div>
