<div class="sign_container">
    <div class="sign_box">
        <div class="title">
            <h1>Sign</h1>
        </div>
        <div class="input"> 
            <div class="username">
                <p>Username or Email</p>
                <input type="text" placeholder="orange@fruitmail.com">
            </div>
            <div class="password">
                <p>Password</p>
                <input type="text" placeholder="Orange123">
            </div>
        </div>
        <div class="buttons">
            <button>Sign</button>
            <button><a [routerLink]="['/login']">Login</a></button>
        </div>
    </div>
</div>

