<div class="menu-bar_container">
    <a [routerLink]="['/home']">
        <div class="menu-bar_logo">
            <img src="https://png.pngtree.com/png-clipart/20230515/original/pngtree-orange-slices-cartoon-vector-png-image_9161713.png" 
            alt="Metade laranja"
            height="50px"
            class="laranja-metade_img"
            >
            <h3>Orange Database</h3>
        </div>
    </a>
    <div class="separador">

    </div>
    <div class="menu-bar_items">
        <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/home']">Search</a></li>
        <li><a [routerLink]="['/home']">Profile</a></li>
        <li><a [routerLink]="['/login']">Login</a></li>
        <li><a [routerLink]="['/sign']">Signin</a></li>
    </ul></div>
    
</div>
